/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config 1080p */

@import "~/.config/rofi/master-config.rasi" 

/* ---- Window ---- */
window {
    width:	16%;
}
/* ---- Listview ---- */
listview {
  columns: 3;
  lines: 5;
  fixed-height:	true;
}

/* ---- Element ---- */
element {
  orientation: vertical;
  padding: 10px 5px 10px 5px;
  spacing: 6px;
}

element-icon {
  size: 4%;
}

element-text {
  font: "JetBrainsMono Nerd Font SemiBold 10";
  horizontal-align: 0.5;
}
